{{#block "css"}}
    <link rel="stylesheet" href="/css/warehouse/provider.css">
{{/block}}

<div class="provider-table">
    <div class="inside-table">
        <div class="providerHeader">
            <h2>Chi Tiết Thông Tin Nhà Cung Cấp</h2>
            <a href="/admin/warehouse/provider"><button class="cancel-btn">Quay lại</button></a>
        </div>

        <div class="info-container">
            <div class="info-box">
                <div class="header">
                    <p>
                        <i class="fas fa-user-tie"></i>
                        <span>Thông tin nhà cung cấp</span>
                    </p>
                </div>
                <div class="body">
                    <div>
                        <p><b>Mã nhà cung cấp:</b> {{provider.ID_NCC}}</p>
                        <p><b>Tên nhà cung cấp:</b> {{provider.TenNCC}}</p>
                        <p><b>Số điện thoại:</b> {{provider.SDT}}</p>
                        <p><b>Email:</b> {{provider.Email}}</p>
                        <p><b>Địa chỉ:</b> {{provider.SoNhaDuong}}, {{provider.PhuongXa}}, {{provider.QuanHuyen}}, {{provider.TinhThanhPho}}</p>
                    </div>
                </div>
            </div>
        </div>
        <label class="receipt-label">Hóa Đơn Nhập Hàng Của Nhà Cung Cấp</label>
        <table border="1" id="provider-list">
            <thead>
                <tr>
                <td>ID</td>
                <td>Ngày nhập</td>
                <td>Nhân viên lập đơn</td>
                <td>Tổng hóa đơn</td>
                </tr>
            </thead>
            <tbody>
                {{#each receipt}}
                <tr>
                    <td>#{{this.IDHoaDonNhap}}</td>
                    <td data-value="{{formatDate this.NgayNhap 'YYYY-MM-DD HH:mm:ss'}}">
                    {{formatDate this.NgayNhap "DD/MM/YYYY HH:mm"}}
                    </td>
                    <td>{{this.TenNhanVien}}</td>
                    <td data-value="{{this.TongTien}}">{{formatCurrency
                        this.TongTien
                    }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>